<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco"/>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="edimilsonpl98@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(33) 98751-7151</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Rua Da Matriz Centro 70 - 39615-000 - Ponto dos Volantes - MG</h5>
        </p>
    </div>
</div>